source activate dev_respy

export PROJECT_ROOT=$PWD


# We need access to other tools
export PYTHONPATH=$PROJECT_ROOT/submodules/robupy:$PYTHONPATH
export PYTHONPATH=../../respy:$PYTHONPATH

# Adding bin directory
export PATH=$OV_PROJECT/bin:$PATH

# configurations
export MATPLOTLIBRC=$PROJECT_ROOT/configurations
export JUPYTER_CONFIG_DIR=$PROJECT_ROOT/configurations/jupyter
export IPYTHONDIR=$PROJECT_ROOT/configurations/ipython
