source activate respy-development

export PROJECT_ROOT=$PWD


# configurations
export MATPLOTLIBRC=$PROJECT_ROOT/configurations
export JUPYTER_CONFIG_DIR=$PROJECT_ROOT/configurations/jupyter
export IPYTHONDIR=$PROJECT_ROOT/configurations/ipython
